@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button, h1
{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-image: url(images/bg.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

header .logo
{
    cursor: pointer;
    width: 200px;
    margin-right: auto;
}

nav .nav_links
{
    list-style: none;
    text-transform: uppercase;
}

.nav_links li
{
    display: inline-block;
    padding: 0px 20px;
    
}

.nav_links li a 
{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover 
{
    color: rgb(15, 19, 240);
}

button
{
    margin-left: 30px;
    padding: 9px 25px;
    background-color: rgb(0, 162, 255, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}

button:hover
{
    background-color: rgb(0, 162, 255, 0.8);
}
